<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div
      *ngFor="let news of romanianNews"
      class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12"
    >
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="main-card">
          <mat-card-header>
            <mat-card-title
              ><a href="{{ news.url }}" target="_blank">{{
                news.title
              }}</a></mat-card-title
            >
            <mat-card-subtitle class="mt-1">
              <span class="article-source">{{ news.source.name }}</span>
              <span class="article-date">{{
                news.publishedAt | date: "dd/MM/yyyy"
              }}</span>
            </mat-card-subtitle>
          </mat-card-header>

          <div class="img-container">
            <img
              class="main-img"
              mat-card-image
              src="{{ news.urlToImage }}"
              alt="image"
            />
          </div>
          <mat-card-content>
            {{ news.content }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
