mat-spinner {
  margin: 0 auto;
}

.main-card {
  max-width: 400px;
  max-height: 700px;
  margin-top: 12px;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

.img-container {
  text-align: center;
}

.img-container img {
  padding-top: 10px;
  height: 180px;
  width: 100%;
}

mat-card-title {
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

mat-card-subtitle {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-weight: 500;
}

.article-date {
  padding-left: 10px;
}

mat-card-content {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.card {
  background-color: rgb(103, 58, 183);
}

.card-footer span {
  color: #ffff;
  font-size: 14px;
  border-radius: none;
}

.card-footer a {
  color: gray;
  text-decoration: none;
}

.card-footer a:hover {
  color: gray;
  font-weight: 700;
  text-decoration: none;
}

.main-img {
  object-fit: cover;
}
