.main-card {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}

form mat-form-field {
  width: 450px;
}

#addnews-btn {
  text-align: left;
  width: 250px;
  padding-top: 20px;
}

#addnews-btn button {
  width: 100px;
}

.radio-btns {
  padding-left: 23px;
}

.radio-btns mat-radio-button {
  padding-top: 10px;
  padding-right: 20px;
  color: grey;
}

.radio-btns mat-label {
  color: gray;
  border-bottom: 1px solid #6c757d;
  border-width: thin;
}

input[type="file"] {
  visibility: hidden;
}

.imageForUpload { /*containerul pentru imagine */
  height: 12.2rem;
  width: 100%;
}

.imageForUpload img { /*imaginea care ia 100% din container*/
  height: 100%;
  max-width: 310px;
}

.uploadImg-btn {
  color: gray;
}



@media only screen and (max-width: 600px) {
  .main-card {
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
  }

  form mat-form-field {
    width: 300px;
  }

  #addnews-btn{
    text-align: left;
    width: 250px;
    padding-top: 15px;
  }


  .radio-btns {
    padding-left: 5px
  }

  .radio-btns mat-label {
    color: gray;
    border-bottom: 1px solid #6c757d;
    border-width: thin;
  }

  .radio-btns mat-radio-button {
    padding-top: 5px;
    padding-right: 20px;
  }

}

@media only screen and (min-width: 600px) {
  #addnews-btn {
    padding-left: 20px;
  }

  .uploadImg-btn {
    padding-left: 20px;
  }

  .imageForUpload { /*containerul pentru imagine */
    padding-top: 15px !important;
    height: 12.2rem;

  }

  .imageForUpload img { /*imaginea care ia 100% din container*/
    height: 100%;
    max-width: 310px;
  }
}
