<mat-card class="main-card">
  <form [formGroup]="form" (submit)="onAddNews(form)">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a news title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput type="text" formControlName="content" rows="8" placeholder="Content">
                      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a content</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>News Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="International">City News</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('category').invalid">Please select a news category</mat-error>
    </mat-form-field>
    <!-- butonul default de input upload file nu arata prea bine. asa ca l-am pus hidden in css iar cu btn ce arata mai bine din material de mai sus, cand este apasat apeleaza acest btn ascuns -->

    <div class="text-left uploadImg-btn">
      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
        <input type="file" #filePicker (change)="onNewsImage($event)">
      </div>
      <div class="text-left imageForUpload" *ngIf="imagePreview && imagePreview !== ''">
        <img class="text-left" [src]="imagePreview" [alt]="form.value.title">
      </div>
    </div>

    <div class="radio-btns mt-2">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-label>Accept comments</mat-label>
      </div>
      <mat-radio-group formControlName="allowComments" fxLayout="row" fxLayoutAlign="start center">
        <mat-radio-button color="primary" value="yes">Yes</mat-radio-button>
        <mat-radio-button color="warn" value="no">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div id="addnews-btn">
      <button mat-raised-button color="accent" type="submit">Add News</button>
    </div>
  </form>
</mat-card>
