<h1 mat-dialog-title>
  {{title}}
</h1>

<div mat-dialog-content>
  <p>{{message}}</p>
</div>

<div mat-dialog-actions class="confirmation-btns">
  <button mat-raised-button color="primary" (click)="onDismiss()">No</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Yes</button>
</div>
