<mat-toolbar color="primary" role="heading">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="warn">
      <mat-icon id="menu-icon" aria-label="Side nav toggle icon" color="mat-icon-menu">menu</mat-icon>
    </button>
    <span class="logo-container"><a routerLink="/"><img src="https://i.ibb.co/x31Q9G1/cityNews.png" /></a></span>
    <span class="spacer"></span>
    <div *ngIf="isLoggedIn" class="d-flex justify-content-end" id="userName">
      <span class="material-icons mr-2">account_circle</span>
      <span id="loggedInUser">{{ loggedInUser?.name }}</span>
    </div>
    <span class="spacer"></span>
    <div>
      <ul fxHide fxShow.gt-xs>
        <li *ngIf="isLoggedIn"><a mat-button routerLink="/add-news" routerLinkActive="active-color"><i class="material-icons">library_add </i> Add News</a></li>
        <li *ngIf="!isLoggedIn"><button mat-button (click)="loginDialog()" routerLinkActive="active-color"><i class="material-icons">person </i>Log in</button></li>
        <li *ngIf="!isLoggedIn"><a mat-button routerLink="/signup" routerLinkActive="active-color"><i class="material-icons">person_add </i> Register</a></li>
        <li *ngIf="isLoggedIn"><button mat-button (click)="onLogout()"><i class="material-icons">sports_handball </i> Log out</button></li>
        <li *ngIf="isLoggedIn"><span id="loggedInUser">{{ loggedInUser?.name }}</span></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" close role="navigation">
    <mat-nav-list>
      <div fxHide.gt-xs>
        <a *ngIf="!isLoggedIn" mat-list-item routerLinkActive="active-sidenav" (click)="drawer.close(); loginDialog()"><i class="material-icons mr-2">person </i> Log in</a>
        <a *ngIf="!isLoggedIn" mat-list-item routerLinkActive="active-sidenav" routerLink="/signup" (click)="drawer.close()"><i class="material-icons mr-2">person_add </i> Register</a>
        <a *ngIf="isLoggedIn" mat-list-item routerLinkActive="active-sidenav" routerLink="/add-news" (click)="drawer.close()"><i class="material-icons mr-2">library_add </i> Add News</a>
        <a *ngIf="isLoggedIn" mat-list-item (click)="onLogout()" (click)="drawer.close()"><i class="material-icons mr-2">sports_handball </i> Log out</a>
        <div class="space-container">API News</div>
      </div>

      <a mat-list-item routerLink="/" (click)="drawer.close()">BBC News</a>
      <a mat-list-item routerLinkActive="active-sidenav" routerLink="/romanian-news" (click)="drawer.close()">Romanian News</a>

      <div class="space-container">Users news</div>
      <a mat-list-item routerLinkActive="active-sidenav" routerLink="/city-news" (click)="drawer.close()">CityNews</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
