
 mat-sidenav-container, mat-sidenav, mat-sidenav-content {
  height: 100% !important;
}

mat-sidenav {
  width: 225px;
}

#menu-icon {
  color: #ffff;
  font-size: 35px;
}

.logo-container img {
  margin-left: 10px;
  width: 130px;
  height: 70px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: #ffff;
  text-decoration: none;
}

mat-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-weight: 500;
}

#loggedInUser {
  font-size: 13px;
  color: #89d658
}

.active-color {
  color: rgb(255, 215, 64);
}

.active-sidenav {
  color: rgb(229, 9, 20);
  font-weight: 400;
}

.space-container {
  height: 40px;
  background-color: lightgrey;
  padding-top: 8px;
  padding-left: 16px;
  color: #673ab7;
  font-weight: 700;
}

mat-nav-list {
  margin-top: 20px;
}

#userName {
  padding-left: 50px;
  visibility: hidden;
}

@media only screen and (max-width: 435px) {
  #userName {
    padding-left: 50px;
    visibility: visible;
  }


}
