<div class="container card">
  <div class="card-header text-center">
    <h4 class="text-muted">CityNews</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{specificNews?.title}}</h5>
    <div class="user-and-date">
      <small class="text-muted">{{specificNews?.userName}} - {{specificNews?.userProfession}}</small>
      <div class="mb-2">
        <small class="text-muted">{{specificNews?.createdAt | date: "dd.MM.yyyy hh:mm:ss"}}</small>
      </div>
    </div>
    <div class="news-image" *ngIf="specificNews?.imagePath">
      <a href="{{ specificNews?.imagePath }}" target="_blank"><img [src]="specificNews?.imagePath" [alt]="specificNews?.imageName"></a>
    </div>
    <p class="card-text">{{specificNews?.content}}</p>
    <div *ngIf="isLoggIn && specificNews?.userId == userInfo?._id" fxLayout="row" fxLayoutAlign="end center">
      <a mat-stroked-button [routerLink]="['/edit-news', specificNews._id]">EDIT</a>
      <button class="ml-2" mat-stroked-button color="warn" (click)="confirmDialog(specificNews._id)">DELETE</button>
    </div>
  </div>
  <div class="card-footer text-muted mb-2">
    <div class="row">
      <button mat-raised-button color="primary"><i class="material-icons">thumb_up </i> {{12}}</button>
      <button mat-raised-button color="warn"><i class="material-icons">thumb_down </i> {{7}}</button>
      <button class="ml-auto" mat-raised-button color="accent" (click)="onWriteComment()"><i class="material-icons">add_comment</i> Comment</button>
    </div>
  </div>

  <div *ngIf='writeComment'>
    <form #commentsForm="ngForm" (ngSubmit)="onSubmitComment()" class="comments-form">
      <div class="form-group">
        <mat-form-field class="comments-section">
          <mat-label id="comment-label">Comment</mat-label>
          <textarea matInput type="text" [(ngModel)]="userComment" name="userComment" class="form-control" rows='4' required minlength="2" maxlength="256" placeholder="Write your comment">
                </textarea>
          <mat-hint align="end">{{userComment.length}} / 256</mat-hint>
        </mat-form-field>
        <div class="text-right mt-2">
          <button id="add-comment" mat-raised-button color="primary" type="submit" [disabled]="!commentsForm.valid">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
