.card-text {
  text-align: justify;
}

.card-footer button {
  margin-right: 15px;
}

.news-image {
  width: 100%;
  margin-bottom: 20px;
}

.news-image img {
  max-width:100%;
  max-height:300px;
  object-fit: contain;
}

.user-and-date {
  line-height: 15px;
}

.comments-form {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.comments-section {
  width: 100%;
}
#comment-label {
  padding-left: 5px;
  padding-top: 20px;
}

#add-comment {
  padding-left: 10px;
  padding-right: 10px;
}

mat-form-field textarea {
  background-color: #ffffff;

}

@media only screen and (max-width: 600px) {
  .card-body {
    width: 100%;
  }

  .news-image {
    max-width: 315px;;
  }

  .news-image img {
    max-width:100%;
    max-height: 200px !important;
    object-fit: cover;
  }

}
