
.main-card {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}

form mat-form-field {
  width: 450px;
}

mat-card-title {
  padding-left: 7px;
}

#login-btn {
  text-align: left;
  padding-left: 22px;
  width: 250px;
}

#login-btn button{
  width: 100px;
}

#password-input {
  width: 400px;
}




@media only screen and (max-width: 600px) {
  .main-card {
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
  }

  form mat-form-field {
    width: 225px;
  }

  mat-card-title {
    padding-left: 25px;
  }

  #login-btn {
    text-align: left;
    padding-left: 40px;
    width: 250px;
    padding-top: 5px;
  }

}
