
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

  <div class="register-form">
    <mat-card class="main-card">
                <mat-card-header>
                  <mat-card-title><h4>Register</h4></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                          <form [formGroup]="form" (submit)="onRegister(form)">
                            <mat-form-field>
                              <input
                                  matInput
                                  type="text"
                                  formControlName="name"
                                  placeholder="Name"
                                  required>
                              <mat-error *ngIf="form.get('name')">Please enter your name</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Profession</mat-label>
                                <mat-select formControlName="profession">
                                  <mat-option value="Professional Journalist">Professional Journalist</mat-option>
                                  <mat-option value="Amateur Journalist">Amateur Journalist</mat-option>
                                </mat-select>
                            </mat-form-field>

                              <mat-form-field>
                                      <input
                                          matInput
                                          type="email"
                                          formControlName="email"
                                          placeholder="Email"
                                          required>
                                      <mat-error *ngIf="form.get('username')">Please enter your username</mat-error>
                              </mat-form-field>

                              <div>
                                  <mat-form-field>
                                    <input
                                        matInput
                                        id="password-input"
                                        [type]="hide ? 'password' : 'text'"
                                        formControlName="password"
                                        placeholder="Password"
                                        required>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    <mat-error *ngIf="form.get('password')">Please choose a valid password</mat-error>
                                  </mat-form-field>
                              </div>
                              <div id="login-btn">
                                <button mat-raised-button color="accent" type="submit">Register</button>
                              </div>
                    </form>
                </mat-card-content>
    </mat-card>
  </div>
