.card {
  background-color:rgb(103, 58, 183);
}

.card-footer span {
  color: #ffff;
  font-size: 14px;
  border-radius: none;
  bottom: 0;
}

.card-footer a {
  color: gray;
  text-decoration: none;
}

.card-footer a:hover {
  color: gray;
  font-weight: 700;
  text-decoration: none;
}
