<div class="card text-center mt-2">
  <div class="card-footer text-muted">
      <span>&copy; 2020 Copyright: Marius Cimpoeru <br>
        API powered by a <a href="https://newsapi.org">NewsApi</a></span>
  </div>
</div>
