/* login-form {
  max-width: 90%;
  width: 450px;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
} */

form mat-form-field {
  width: 450px;
}

#login-btn {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

}


@media only screen and (max-width: 420px) {
  form mat-form-field {
    width: 250px;
  }

}
