  <div class="login-form">
              <h3>Login</h3>
                    <form [formGroup]="form" (submit)="onLogin(form)">
                      <mat-form-field>
                              <input matInput type="text" formControlName="email" placeholder="Email">
                              <mat-error *ngIf="form.get('email')">Please enter your email</mat-error>
                      </mat-form-field>

                      <div>
                          <mat-form-field>
                              <input matInput type="password" formControlName="password" placeholder="Password">
                              <mat-error *ngIf="form.get('password')">Please enter your password</mat-error>
                          </mat-form-field>
                      </div>
                      <div mat-dialog-actions>
                        <button id="login-btn" mat-raised-button color="primary" type="submit">Login</button>
                      </div>
                    </form>
  </div>
