<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div>
      <mat-tab-group fxHide.gt-xs>
        <mat-tab label="Professional Journalists">
          <div *ngFor="let news of professionalInternationalNews" class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
            <div>
              <mat-card class="main-card">
                <div class="header-container">
                  <mat-card-title title="{{news.title}}"><a [routerLink]="['/news-details', news._id]">{{news.title}}</a></mat-card-title>
                    <mat-card-subtitle class="mat-card-subtitle mt-1 justify-content-between">
                      <span class="article-source">{{ news.userName }}</span>
                      <span class="article-date">{{news.createdAt | date: "dd.MM.yyyy hh:mm:ss"}}</span>
                </mat-card-subtitle>
            </div>

                <div class="img-container" fxHide fxShow.gt-sm>
                    <img class="main-img" mat-card-image src="{{news.imagePath ? news.imagePath : 'https://i.ibb.co/yYDWDwz/photo-Notavailable.jpg'}}" alt="image">
                </div>
                <mat-card-content fxHide fxShow.gt-sm>
                  {{ news.content }}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Amateur Journalists">
          <div *ngFor="let news of amateurInternationalNews" class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
            <div>
              <mat-card class="main-card">
                <div class="header-container">
                  <mat-card-title title="{{news.title}}"><a [routerLink]="['/news-details', news._id]">{{news.title}}</a></mat-card-title>
                    <mat-card-subtitle class="mat-card-subtitle mt-1 justify-content-between">
                      <span class="article-source">{{ news.userName }}</span>
                      <span class="article-date">{{news.createdAt | date: "dd.MM.yyyy hh:mm:ss"}}</span>
                </mat-card-subtitle>
            </div>

                <div class="img-container" fxHide fxShow.gt-sm>
                    <img class="main-img" mat-card-image src="{{news.imagePath ? news.imagePath : 'https://i.ibb.co/yYDWDwz/photo-Notavailable.jpg'}}" alt="image">
                </div>
                <mat-card-content fxHide fxShow.gt-sm>
                  {{ news.content }}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
  </div>
</div>



<div class="container" *ngIf="!isLoading">
  <div class="row" fxHide fxShow.gt-xs>
    <div *ngFor="let news of internationNews" class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
      <div>
        <mat-card class="main-card">
          <div class="header-container">
            <mat-card-title title="{{news.title}}"><a [routerLink]="['/news-details', news._id]">{{news.title}}</a></mat-card-title>
              <mat-card-subtitle class="mat-card-subtitle mt-1 justify-content-between">
                <span class="article-source">{{ news.userName }}</span>
                <span class="article-date">{{news.createdAt | date: "dd.MM.yyyy hh:mm:ss"}}</span>

          </mat-card-subtitle>
      </div>

          <div class="img-container" fxHide fxShow.gt-xs>
              <img class="main-img" mat-card-image src="{{news.imagePath ? news.imagePath : 'https://i.ibb.co/yYDWDwz/photo-Notavailable.jpg'}}" alt="image">
          </div>
          <mat-card-content fxHide fxShow.gt-xs>
            {{ news.content }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>



