mat-spinner {
  margin: 0 auto;
}

.main-card {
  max-width: 350px;
  height: 393px;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

.img-container {
  text-align: center;
  padding-top: 10px;
}

.img-container img {
  height: 130px;
  width: 100%;
  object-fit: fill;
}

mat-tab-group mat-tab {
  width: 100%;
}
mat-card-title {
  height: 45px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  width: 100%;
}

mat-card-title a {
  color: #000000;
  font-size: 17px;
}

mat-card-subtitle {
  display: flex;
  color: gray;
  width: 100%;
  font-weight: 500;
}

.mat-card-subtitle {
  display: flex;
  justify-content: space-between;
}

mat-card-content {
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.card {
  background-color: rgb(103, 58, 183);
}

.main-img {
  object-fit: cover;
  background: #ffffff;
}

@media only screen and (max-width: 760px) {
  .main-card {
    max-width: 350px;
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  mat-card-title a {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
  }


}
