mat-spinner {
  margin: auto;
}

.main-card {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}

form mat-form-field {
  width: 450px;
}

#addnews-btn {
  text-align: left;
  padding-left: 22px;
  width: 250px;
  padding-top: 20px;
}

#addnews-btn button{
  width: 100px;
}

.radio-btns {
  padding-left: 5px;
}

.radio-btns mat-radio-button {
  padding-top: 10px;
  padding-right: 20px;
  color: grey;
}

.radio-btns mat-label {
  color: gray;
  border-bottom: 1px solid #6c757d;
  border-width: thin;
}

input[type="file"] {
  visibility: hidden;
}

.newsImageForUpdate { /*containerul pentru imagine */
  height: 5.2rem;
  margin: 1.2rem 0;
}

.newsImageForUpdate img { /*imaginea care ia 100% din container*/
  height: 100%;
}

.img-container img {
  max-height: 250px;
  max-width: 100%;
  object-fit: contain;
  margin-top: 8px;
  margin-bottom: 12px;
}

.uploadPreviewImage {
  height: 5.2rem;
  margin: 1.2rem 0;
}

.uploadPreviewImage img {
  height: 100%;
}

.main-img {
  margin-left: 0px !important;
}
@media only screen and (max-width: 600px) {
  .main-card {
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
  }

  form mat-form-field {
    width: 300px;
  }

  #editnews-btn{
    text-align: left;
    width: 250px;
    padding-top: 15px;
  }

  .radio-btns mat-label {
    color: gray;
    border-bottom: 1px solid #6c757d;
    border-width: thin;
  }

  .radio-btns mat-radio-button {
    padding-top: 5px;
    padding-right: 20px;
  }

}
