<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="!isLoading" class="main-card text-left">
  <form [formGroup]="form" (submit)="onSaveEditNews(form)">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title">
      <mat-error *ngIf="form.get('title')">Please enter a news title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput type="text" formControlName="content" rows="8" placeholder="Content">
                      </textarea>
      <mat-error *ngIf="form.get('content')">Please enter a content</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>News Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="International">International</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="img-container" *ngIf="theNews.imagePath !== undefined">
      <img class="main-img" mat-card-image src="{{theNews.imagePath}}" alt="image">
    </div>

    <div class="text-left">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
      <input type="file" #filePicker (change)="onNewsImage($event)">
    </div>
    <div class="text-left uploadPreviewImage" *ngIf="imagePreview && imagePreview !== ''">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <div class="radio-btns mt-2">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-label>Accept comments</mat-label>
      </div>
      <mat-radio-group formControlName="allowComments" fxLayout="row" fxLayoutAlign="start center">
        <mat-radio-button color="primary" [value]="true" [checked]=this.allow>Yes</mat-radio-button>
        <mat-radio-button color="warn" [value]="false" [checked]=!this.allow>No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div id="editnews-btn">
      <button mat-raised-button color="accent" type="submit">Save Edit</button>
    </div>
  </form>
</mat-card>
