
mat-spinner {
  margin: 0 auto;
}

.main-card {
  max-width: 350px;
  max-height: 700px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.header-image {
  background-image: url('https://i.ibb.co/X56qrQw/bbc-logo.png');
  background-size: cover;
}

a {
  text-decoration: none;
}

.img-container {
  text-align: center;
}

.img-container img {
  padding-top: 10px;
  height: 180px;
  width: 100%;
}

mat-card-title {
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-subtitle {
  display: flex;
  justify-content: flex-end;
  color: gray;
  font-weight: 500;
}

mat-card-content {
  height: 150px;
  overflow: hidden;
  margin: 0;
}

.main-img {
  object-fit: cover;
}
