/* You can add global styles to this file, and also import other style files */

html,
body {
  overflow: visible;
  width: 100%;
  height: 100%;
}


mat-card-header .header-container {
  width: 100%;
}

